* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #30598c;
  display: flex;
  align-items: center;
  height: 62px;
  text-align: center;
  font-size: 16px;
}
.list {
  background-color: #beccdc;
  height: 25px;
}
main {
  background-color: lightsteelblue;
}
.logo {
  flex-grow: 1;
}
.logo img {
  height: 62px;
}
.nav_menu {
  flex-grow: 10;
  align-items: center;
  justify-content: right;
}
.nav_menu a {
  color: aliceblue;
  text-decoration: none;
  text-align: 62px;
  padding-right: 20px;
}
.nav_menu i {
  color: aliceblue;
}
.nav_menu img {
  width: 40px;
  padding-left: 20px;
}
main {
  display: flex;
}
.content_a {
  display: flex;
  flex-grow: 6;
}

.blog {
  display: block;
  width: 80%;
  text-align: justify;
  padding-top: 10px;
  padding-left: 10px;
  line-height: 25px;
}
ol {
  list-style: inside;
}
.content_sile {
  background-color: #cec6b2;
  display: flex;
  flex-grow: 4;
}
.content_sile img {
  height: 90px;
  position: relative;
  top: 44px;
  left: -90px;
}
.content_sile a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  height: 60px;
}
footer {
  background-color: rgb(206, 230, 245);
}
footer #comment {
  width: 501px;
  height: 50px;
  margin: 30px;
}
h3 {
  margin: 10px;
}
input,
label {
  width: 3%;
}
